<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700'>
    {{ style('style')}}
    {{ style('normalize')}}
</head>

    <body>
        <header class="top_header clearfix">
            <nav class="sair">
                <ul>
                    <li><a href="/logout">Sair</a></li>
                </ul>
            </nav>
            <div class="maxwidth">
                <img src="assets/images/diba.jpg" alt="logotipo Diba Barbeiros" class="top_header_logo_paginas">
            </div>
            
        </header>
        <div class="box">
            <table class="table is-bordered is-striped is-narrow is-fullwidth">
                <h1 class="title">Lista de Barbeiros</h1>
                <thead>
                <tr>
                    <th style="width: 80px;">Id</th>
                    <th>Nome Barbeiro</th>
                    <th style="width: 120px;">Data de aniversário</th>
                    <th style="width: 120px;">Endereco</th>
                    <th style="width: 120px;">Especialidade</th>
                </tr>
                </thead>

        <section>
            <nav class="top_nav_paginas">
                <ul>
                    <li><a href="/barbeiros">Barbeiros</a></li>
                    <li><a href="/cortes">Cortes</a></li>
                    <li><a href="/sobrancelha">Sobrancelhas</a></li>
                    <li><a href="/barba">Barba</a></li>
                </ul>
            </nav>
        </section>
            <form method="GET" action="barbeiros-edite/{{barbeiros.id}}">
                {{ csrfField() }}
                <label for="nome_barbeiro">Nome:</label>
                <input type="text" id="nome_barbeiro" name="nome_barbeiro">
                <br>
                <label for="data_aniverversario">Data de aniversário:</label>
                <input type="date" id="data_aniversario" name="data_aniversario">
                <br>
                <label for="endereco_barbeiro">Endereço:</label>
                <input type="text" id="endereco_barbeiro" name="endereco_barbeiro">
                <br>
                <label for="especialidade_barbeiro">Especialidade:</label>
                <input type="text" id="especialidade_barbeiro" name="especialidade_barbeiro">
                <span class="icon is-small">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
                <button>
                    <span>Editar</span>
                </button>
            </form>
        </td>
        <footer class="footer">
            <ul class="footer_menushare">
                <li><a href="facebool.com/Diba-Barbeiros-10273864139748"
                    class="icon-facebook">
                <span class="hidden">
                    <img src="facebook.png"/>    
                </span>
                </a></li>
            </ul>
            <p>Copyright @Joorgenho - 35.988.777/0001-33 - 2021 - Todos os direitos reservados</p>
        </footer>
    </body>
</html>