@charset "UTF-8";
html{
    font-family: sans-serif;
}

.clearfix::after, .row::after{
    content: '';
    display: block;
    clear: both;
}

.maxwidth{
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
}

.sair{
    margin-left: 1250px;
    margin-bottom: -500;
    text-decoration: none;
    border-radius: 5px;
    width: 70px;
    height: 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    list-style: none;
}

.sair a:visited{
    color: #ff6100;
}

.icon_play{
    height: 5em;
    display: none;
}

.icon_play img{
    max-width: 100%;
    max-height: 100%;
}

.top_header{
    text-align: center;
}

.top_header_logo{
    margin: .5em;
    max-width: 250px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.top_header_logo_paginas{
    text-align: center;
    margin: .5em;
    max-width: 250px;
}

.top_nav{
    background: #ff6100;
    text-align: center;    
    font-weight: bold;
}

.top_nav ul{
    margin: 0;
    padding: 1em 0;
    list-style: none;
    display: block;
}

.top_nav a{
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
}

.top_nav a:hover{
    background: #000;
}

.top_nav_paginas{
    background: #ff6100;
    text-align: center;    
    font-weight: bold;
    text-align: center;
}

.top_nav_paginas ul{
    margin: 0;
    padding: 1em 0;
    list-style: none;
    display: block;
}

.top_nav_paginas a{
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
}

.top_nav_paginas a:hover{
    background: #000;
}

.top_header_logo_paginas{
    margin: .5em;
    max-width: 20%;
    width: auto;
    height: auto;
}

.texto{
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
}

.form_barbeiro{
    margin: 50px auto 0;
    text-align: center;
    color: #ff6100;
    font-weight: bold;
    font-size: 25px;
}

.button{
    margin-top: 20px;
    background: #ff6100;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.tabela{
    text-align: center;
    font-size: 30px;
    color: #ff6100;
    margin: 50px;
}


.footer{
    background: #25303e;
    color: #83969f;
    text-align: center;
    padding-bottom: 2em;
    margin-top: 100px;
}

.footer_menushare{
    background: #303d4c;
    padding: .5em;
}

.footer_menushare li{
    display: inline-block;
    margin:  0 1em;
}

.footer_menushare a{
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}


@media screen and (min-width: 48.75em){
    .top_header_logo{
        float: left;
    }
    
    .icon_play{
        display: block;
    }

    .top_nav{
        background: transparent;
        float: right;
        margin-top: 30px;
    }

    .top_nav ul{
        margin: 0;
        padding: 0;
    }

    .top_nav li{
        display: inline-block;
    }

    .top_nav a{
        color: #ff6100
    }

    .top_nav a:hover{
        background: #000;
    }
}
